@use '../../../assets/scss/vars.scss' as *;
@use '../../../assets/scss/mixins/media-mixins.scss' as *;
@use '../../../assets/scss/mixins/media-breakpoints.scss' as *;

.footer {
    display: block;
    width: 100%;
    height: 312px;
    background-color: #000;

    @include media-1920 {
        height: apxm(312px);
    }

    @include media-768 {
        height: apxm(204px);
    }
}